@use "../../../abstract/variables" as *;

.listcomponent{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $lightGrey;
}

.list-container {
    height: 100vh;
    width: 12vw;
    border-right: 1px solid $lightGrey;
    margin: 0;
}